@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.jam-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  color: white;
}

.jam-modal-overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.jam-modal-content {
  background: linear-gradient(to bottom, #015E2F, #223C07);
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
  padding: 20px;
  width: 75%;
  height: 85%;
  overflow-y: auto;
  position: relative;
  transform: translateY(-50px);
  transition: transform 0.3s ease-in-out;
}

.modal-title {
    font-family: 'Fredoka One', cursive;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    color: white;
  }

.jam-modal-overlay.show .jam-modal-content {
  transform: translateY(0);
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.action-button {
  font-family: 'Fredoka One', cursive;
  font-size: 1.2em;
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  box-shadow: 0 4px #666;
}

.action-button:active {
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

.action-button.active {
  background-color: #28a745;
  color: white;
  box-shadow: 0 4px #666;
}

.action-button:not(.active) {
  background-color: grey;
  color: white;
}

.jam-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: calc(100% - 60px); /* Adjust height minus padding */
}

.jam-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 55%;
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s;
  box-sizing: border-box;
  cursor: pointer;
}

.jam-card:hover {
  transform: translateY(-10px);
}

.jam-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding: 20px;
  background-color: rgba(152, 123, 123, 0.4);
  border-radius: 10px;
  margin-bottom: 10px;
}

.jam-card-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.jam-card-quantity,
.jam-card-price {
  margin: 10px 0;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-family: 'Fredoka One', cursive;
}

.jam-card-buy {
  font-weight: bold;
  color: #fff;
  background-color: #28a745;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'Fredoka One', cursive;
}

.jam-card-buy:hover {
  background-color: #218838;
}

.factory-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Fredoka One', cursive;
  height: 100%;
}
